.mc-scroll {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}

.mc-form {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .mailchimp-newsletter-mergefields {
    width: 100%;
  }

  label {
    display: none;
  }

  [type='email'] {
    background-color: transparent;
    border-color: $tre-med-grey;
    border-radius: 24px;
    color: $tre-dark-grey;
    margin: 0 0.5rem 0 0;

    @include breakpoint(medium) {
      width: 60%;
    }

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $tre-dark-grey;
      padding-left: 1rem;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $tre-dark-grey;
      padding-left: 1rem;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $tre-dark-grey;
      padding-left: 1rem;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $tre-dark-grey;
      padding-left: 1rem;
    }
  }

  .js-form-submit {
    background-color: $tre-med-grey;
    border-radius: 24px;
    color: $white;
    font-family: 'Yrsa', serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.5rem 0 0 0;
    padding: 0 1rem;
    text-transform: uppercase;

    @include breakpoint(medium) {
      flex: 1;
      margin: 0 0 0 0.5rem;
    }
  }
}
