

  .tippy-tooltip.honeybee-theme {
    /* Your styling here. Example: */
    background-color: #f5b65d;
    border: 2px solid #f5b65d;
    font-weight: bold;
    color: #333;
  }

  .tippy-tooltip.honeybee-theme .tippy-backdrop {
    /* Your styling here. Example: */
    background-color: #f5b65d;
  }