@keyframes arrow {
  0%,
  100% {
    top: 10px;
  }

  50% {
    top: 30px;
  }
}

.path-frontpage {
  .block-tre-page-title {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;

    .scroll {
      color: $black;
      display: inline-block;
      font-size: 1rem;
      height: 100px;
      left: 50%;
      margin-top: 20px;
      position: relative;
      transform: translateX(-50%);

      &::after {
        // -ms-transform: rotate(45deg);
        // -webkit-animation: 3s arrow infinite ease;
        // -webkit-transform: rotate(45deg);
        animation: 3s arrow infinite ease;
        border-bottom: 2px solid $tre-orange;
        border-right: 2px solid $tre-orange;
        content: '';
        height: 40px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 10px;
        transform: rotate(45deg);
        width: 40px;
      }
    }
  }

  #block-tre-content {
    background-color: $tre-orange;
    padding: 2rem 0 0;

    h2 {
      margin-top: -3rem;
    }

    .home-secondary-container {
      align-items: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      min-height: 100vh;
      padding: 2rem;

      @include breakpoint(medium) {
        padding: 0;
      }

      .paragraph--type--card-image-with-cta- {
        margin: 0 auto 2rem;
        max-width: 70%;

        @include breakpoint(medium) {
          margin: 0 auto auto;
          max-width: 100%;
        }
      }
    }

    .field-node--field-flex-grid {
      @include breakpoint(medium) {
        margin-top: -5rem;
      }
    }

    .paragraph--type--flexible-grid {
      text-align: center;

      .button {
        margin-top: 2rem;
      }
    }
  }

  h1 {
    color: $tre-orange;
    display: block;
    font-family: 'Yrsa', serif;
    font-size: rem-calc(60);
    font-weight: 400;
    line-height: rem-calc(65);
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;

    em {
      color: $tre-purple;
      font-family: 'suomi', cursive;
      font-size: rem-calc(130);
      line-height: rem-calc(130);
      @include breakpoint(medium) {
        font-size: rem-calc(259);
      }
    }

    @include breakpoint(medium) {
      font-size: rem-calc(120);
      line-height: 11.5rem;
    }
  }

  h2 {
    color: $tre-purple;
    font-family: 'Yrsa', serif;
    font-size: rem-calc(60);
    line-height: rem-calc(60);
    text-align: center;

    @include breakpoint(medium) {
      font-size: rem-calc(100);
      line-height: rem-calc(100);
    }

    em {
      color: $tre-white;
      font-family: 'suomi', cursive;
      font-size: rem-calc(142);
    }
  }

  figcaption {
    color: $tre-white;
    display: block;
    padding: 2rem 0 0;
  }
}
