.panel-container {
  .entrepreneur-svg-main {
    @include breakpoint(medium) {
      width: 35%;
      top: 7%;
      height: auto;
      left: 50%;
      transform: translateX(-50%);  
    }
  }

  .entrepreneur-bubble-1 {
    @include breakpoint(medium) {
      width: 25%;
      top: 1%;
      left: 5%;
    }
  }

  .entrepreneur-bubble-2 {
    @include breakpoint(medium) {
      width: 32%;
      top: 45%;
      left: 3%;
    }
  }

  .entrepreneur-bubble-3 {
    @include breakpoint(medium) {
      width: 25%;
      top: 54%;
      left: 36%;
    }
  }

  .entrepreneur-bubble-4 {
    @include breakpoint(medium) {
      width: 23%;
      top: 50%;
      right: 11%;
    }
  }

  .entrepreneur-bubble-5 {
    @include breakpoint(medium) {
      width: 28%;
      top: 4%;
      right: 7%;
    }
  }
}