.paragraph--type--button-comparison {
  margin: 0 auto 2rem;
  max-width: 85%;

  @include breakpoint(medium) {
    margin: 0 auto 2rem;
    max-width: 45%;
  }

  .button {
    min-width: 100%;
    padding: 0.5rem 2.5rem;
    text-transform: none;

    &.orange {
      color: $tre-purple;
    }
  }
}
