// Non-modular or client styles for .l-footer region.
footer {
  background-color: $tre-light-grey;
  color: $tre-dark-grey;
  padding: 1rem 0 3rem;

  p {
    color: $tre-dark-grey;
    font-size: 1rem;
  }

  .block-footerlogo {
    margin: 0 0 1rem;
    max-width: 50px;

    @include breakpoint(medium) {
      margin: 0 1rem 0 0;
    }

    p {
      margin: 0;
    }
  }

  #footer-first {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @include breakpoint(medium) {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }

  .menu {
    margin-bottom: 1rem;

    li {
      display: block;

      a {
        color: $tre-dark-grey;
        padding: 0.5rem 0;
      }
    }
  }

  .social-container {
    justify-content: center;

    @include breakpoint(medium) {
      justify-content: flex-start;
    }

    a {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }

    svg {
      path {
        fill: $tre-dark-grey;
      }
    }
  }

  .columns {
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint(medium) {
      margin-bottom: auto;
      text-align: left;
    }
  }
}

.bottom-bar {
  margin-bottom: 2rem;
  text-align: center;
}
