// Non-modular or client styles for .l-header region.
header {
  padding: 1.5rem 0;

  .columns {
    div {
      align-items: center;
      display: flex;
      flex-flow: column wrap;
      @include breakpoint(large) {
        flex-flow: row nowrap;
      }

      .cta-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
    }

    .block-tre-main-menu {
      justify-self: center;

      @include breakpoint(large) {
        margin-left: auto;
      }

      a {
        color: $tre-purple;
        font-size: rem-calc(18);
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .social-container {
      flex-flow: row nowrap;
      justify-content: center;

      @include breakpoint(medium) {
        margin-left: 1rem;
      }

      a {
        height: 32px;
        margin: auto 0.5rem;
      }
    }

    .button {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;

      @include breakpoint(medium) {
        margin-left: 1.5rem;
      }
    }
  }
}

.block-tre-branding {
  max-height: 75px;
  max-width: 75px;
}
