.field-name-field-lead-body {
  font-family: 'Yrsa', serif;
  padding: 1rem 2rem;

  @include breakpoint(medium) {
    padding: 3rem 6rem;
  }

  p {
    color: $tre-purple;
    font-size: rem-calc(32);
    margin: 0;
    padding: 0;
  }
}
